@model MVCFirstApp.ViewModel.RandomMovieViewModel
@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Customers</h2>

<table style="margin-left:30px">
    <tr>
        <td>
            <h3> List of Customers</h3>
        </td>
    </tr>
    @foreach (var customer in Model.customers)
    {
        <tr>
            <td>
                @Html.ActionLink(customer.Name, "Details", "Customer", new { id = customer.Id }, null)

            </td>
        </tr>

    }

</table>








